:root {
  --color-primary: #31694e;
  --color-secondary: #ffffff;
  --color-third: #121212;
  --color-accent: #f0e491;
  --color-etc-1: #addb9d;
  --color-etc-2: #f8feda;

  /* 그레이스케일 (100 ~ 900) */
  --gray-100: #f5f5f5;
  --gray-200: #eeeeee;
  --gray-300: #e0e0e0;
  --gray-400: #bdbdbd;
  --gray-500: #9e9e9e;
  --gray-600: #757575;
  --gray-700: #616161;
  --gray-800: #424242;
  --gray-900: #212121;
}
