:root {
  --color-primary: #31694e;
  --color-secondary: #ffffff;
  --color-third: #121212;
  --color-accent: #f0e491;
  --color-accent-red: #e92222;
  --color-etc-1: #addb9d;
  --color-etc-2: #f8feda;
  --color-etc-3: #61af2b;
  --color-grade-good: #93ec4b;
  --color-grade-standard: #f0cd48;
  --color-grade-danger: #d12f21;

  /* 그레이스케일 (100 ~ 900) */
  --gray-100: #f5f5f5;
  --gray-200: #eeeeee;
  --gray-300: #e0e0e0;
  --gray-400: #bdbdbd;
  --gray-500: #9e9e9e;
  --gray-600: #757575;
  --gray-700: #616161;
  --gray-800: #424242;
  --gray-900: #212121;

  --color-shadow: rgba(0, 0, 0, 0.08);
}
